<!DOCTYPE html>
<html lang="en">
<head>
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<script src="https://chemapps.stolaf.edu/jmol/jsmol/JSmol.min.js" type="text/javascript"></script>
<script src="https://chemapps.stolaf.edu/jmol/jsmol/js/Jmol2.js" type="text/javascript"></script>
<script type="text/javascript"> 
Jmol.Info=[]
Jmol.Info.serverURL= "https://chemapps.stolaf.edu/jmol/jsmol/php/jsmol.php"
jmolInitialize("https://chemapps.stolaf.edu/jmol/jsmol", true);
</script>


    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Impact Bootstrap Template - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 5px;
        }
    </style>
    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Below are the chemical properties of {{name}}</title>
</head>
<body style="background-color: rgb(76, 133, 187); padding-top: 2.5%;">
    <h1 style="text-align:center;">Below are the chemical properties of {{name}}</h1>
    <div style="display: flex;">
        <!-- Left Column - Table -->
        <div style="flex: 1; padding: 10px;">
            <table>
                <tr>
                    <th>Property</th>
                    <th>Value</th>
                </tr>
                <tr>
                    <td>smile_rep</td>
                    <td>{{smiles_format}}</td>
                </tr>
                <tr>
                    <td>Molecular_formula</td>
                    <td>{{formula}}</td>
                </tr>
                <tr>
                    <td>Molecular_weight</td>
                    <td>{{mol_wt}}</td>
                </tr>
                <tr>
                    <td>Pubchem_status</td>
                    <td>{{pubchem_status}}</td>
                </tr>
                <tr>
                    <td>Pubchem_cid</td>
                    <td>{{pubchem_cid}}</td>
                </tr>
                <tr>
                    <td>IUPAC_Name</td>
                    <td>{{iupac_name}}</td>
                <tr>
                    <td>Files_Name</td>
                    <!-- <td><a href="{{ url_for('get_xyz', filename=xyz) }}">{{ xyz }}</a></td> -->
                    <td><a href="#" onclick="jmolScript('load structure/{{ Name }}');" style="text-decoration:none">{{ Name }}</a></td>

                </tr>
                <tr>
                    <td>A</td>
                    <td>{{RotationalconstantA}}</td>
                </tr>
                <tr>
                    <td>B</td>
                    <td>{{RotationalconstantB}}</td>
                </tr>
                <tr>
                    <td>C</td>
                    <td>{{RotationalconstantC}}</td>
                </tr>
                <tr>
                    <td>mu</td>
                    <td>{{Dipolemoment}}</td>
                </tr>
                <tr>
                    <td>homo</td>
                    <td>{{HOMO}}</td>
                </tr>
                <tr>
                    <td>lumo</td>
                    <td>{{LUMO}}</td>
                </tr>
                <tr>
                    <td>gap</td>
                    <td>{{EnergyGap}}</td>
                </tr>
                <tr>
                    <td>zpve</td>
                    <td>{{Zeropointenergy}}</td>
                </tr>
                <tr>
                    <td>Final single point energy(Eh)</td>
                    <td>{{Finalsinglepointenergy}}</td>
                </tr>
                <tr>
                    <td>Total thermal energy(Eh)</td>
                    <td>{{Totalthermalenergy}}</td>
                </tr>
                <tr>
                    <td>Total Enthalpy(Eh)</td>
                    <td>{{TotalEnthalpy}}</td>
                </tr>
                <tr>
                    <td>Total entropy(Eh)</td>
                    <td>{{Totalentropy}}</td>
                </tr>
                <tr>
                    <td>Gibbs free energy(Eh)</td>
                    <td>{{Gibbsfreeenergy}}</td>
                </tr>
            </table>
            <p><a href="javascript:history.back();" style="color: rgb(255, 0, 0);">Go back</a></p>

        </div>
        
        <!-- Right Column - Jmol Window -->
        <div style="flex: 1; text-align: right; padding: 10px;">
            <p>
                <table>
                    <script type="text/javascript">
                        var script = "background lavander";
                        jmolApplet(600, script);
                        var molecola = localStorage.getItem("molecola");
                        if (molecola != '' && molecola != null)
                            jmolScript(molecola);
                        jmolScript("");
                    </script>
                </table>
            </p>
            <div id="load_xyz"></div>
            <script>
                jmolRadioGroup([
                    ["spacefill off", "sticks"],
                    ["spacefill 25%", "sticks and balls", "checked"],
                    ["spacefill 100%", "van der Waals"]
                ]);
                jmolBr();
                jmolBr();
            </script>
        </div>
    </div>
</body>
</html>